<h1>写真一覧</h1>

<div class="photos-toolbar">
  <%= link_to "写真をアップロード", new_photo_path %>
  <% unless session[:access_token].present? %>
    <%= link_to "MyTweetと連携する", oauth_authorize_path %>
  <% end %>
  <%= button_to "ログアウト", logout_path, method: :delete %>
</div>

<div class="photos-grid">
  <% @photos.each do |photo| %>
    <div class="photo-card">
      <% if photo.image.attached? %>
        <%= image_tag photo.image, class: "photo-card__image" %>
      <% end %>
      <p class="photo-card__title"><%= photo.title %></p>
      <% if session[:access_token].present? %>
        <%= button_to "ツイートする", tweet_photo_path(photo), method: :post %>
      <% end %>
    </div>
  <% end %>
</div>
